*{
  margin:0;
  padding:0;
  outline:0;
  box-sizing: border-box;
}

html, body, #root{
  min-height: 100%
}

body {
  background: #000 url('./assets/grocery.jpg') no-repeat;
  background-size: cover;
}

.menuLateral {
  background: #000 url('./assets/endless.jpg');
  float: left;
  background-size: cover;
  padding: 30px;
  margin-top: 5%;
  margin-left: 20px;
  width: 17%;
  height: 568px;
}
.container {
  background: #000 url('./assets/endless.jpg');
  background-size: cover;
  padding: 30px;
  margin-left: 20%;
  margin-top: 5%;
  width: 60%;
  min-width: 77%;
}
.md-v-line {
  position: absolute;
  border-left: 1px solid rgba(0,0,0,.125);
  height: 50px;
  top:0px;
  left:54px;
  }
  